@model IEnumerable<vindly.Models.Category>

<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Category List</h2>
        </div>
        <div class="col-6">
            Create New Category
        </div>
    </div>
    <br /><br />
</div>

<h1>Index</h1>

